@page "/genre/{subject}"
@inject HttpClient Http

@if (Books == null)
{
    <h2>No results yet. Start a search!</h2>
}
else if (Books.Count == 0)
{
    <h2>No books found for "<strong>@Subject</strong>".</h2>
}
else
{
    <div class="flex justify-center">
        <div class="grid grid-cols-4 gap-10">
            @foreach (var book in Books)
            {
                <div class="relative m-10 flex justify-center items-center w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md">
                    <a class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl" href="book/@book.Id">
                        <img class="object-cover" src="@book.CoverImageUrl" alt="book cover" style="width: auto; height: auto;" />
                    </a>
                    <div class="mt-4 px-5 pb-5">
                        <a href="book/@book.Id">
                            <h5 class="text-center font-bold tracking-tight text-gray-900">@book.Title</h5>
                        </a>
                        <div class="mb-5 flex justify-center">
                            <p>
                                <span class="text-sm text-gray-500 ">Author: @string.Join(", ", book.AuthorName)</span>

                            </p>
                        </div>
                        <div class="mb-5 flex justify-center">
                            <p>
                                <span class="text-sm text-gray-500 ">Published: @string.Join(", ", book.PublishYear)</span>

                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public string Subject { get; set; } = "love"; // love set as default subject

    private string SearchTerm = string.Empty;

    private List<Book> Books = new List<Book>();

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var client = new HttpClient();
            var response = await client.GetFromJsonAsync<OpenLibraryApiResponse>($"https://openlibrary.org/subjects/{Subject}.json");
            Books = response?.works.Select(doc => new Book
                {
                    Id = doc.Id.Replace("/works/", ""),
                    Title = doc.Title,
                    AuthorName = doc.Authors?.Select(author => author.Name).ToList() ?? new List<string>(),
                    PublishYear = doc.PublishYear,
                    CoverImageUrl = doc.CoverId.HasValue
                                ? $"https://covers.openlibrary.org/b/id/{doc.CoverId.Value}-L.jpg"
                                : "no_cover.jpg"
                }).ToList() ?? new List<Book>();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching books: {ex.Message}");
        }
    }

    private class OpenLibraryApiResponse
    {
        public List<Work> works { get; set; } = new();
    }

    private class Work
    {
        [System.Text.Json.Serialization.JsonPropertyName("key")]
        public string Id { get; set; } = "";

        [System.Text.Json.Serialization.JsonPropertyName("title")]
        public string Title { get; set; } = "Untitled";

        [System.Text.Json.Serialization.JsonPropertyName("authors")]
        public List<Author> Authors { get; set; } = new();

        [System.Text.Json.Serialization.JsonPropertyName("cover_id")]
        public int? CoverId { get; set; }

        [System.Text.Json.Serialization.JsonPropertyName("first_publish_year")]
        public int PublishYear { get; set; }
    }

    // The way author is stored in genre api is different then search.
    private class Author
    {
        [System.Text.Json.Serialization.JsonPropertyName("name")]
        public string Name { get; set; } = "Unknown Author";
    }

    private class Book
    {
        public string Title { get; set; } = "Untitled";

        public List<string> AuthorName { get; set; } = new List<string>();

        public int? CoverId { get; set; }

        public string CoverImageUrl { get; set; } = "no_cover.jpg";

        public int PublishYear { get; set; }

        public string Id { get; set; } = "";
    }
}
